@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter Tight", sans-serif
}

html, body {
    width: 100%;
    overflow-x: hidden;
}

.market-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: 0 5%;
}

.market-card {
    border-radius: 0.8rem;
    overflow: hidden;
}

.market-image {
    width: 100%;
    height: auto;
    /* object-fit: cover; */
    transition: opacity 0.3s ease;
    background-color: white;
}

.market-image:hover {
    filter: brightness(80%);
    transition: all 0.3s;
}

.market-details {
    padding: 15px;
}

.market-title {
    font-size: 0.8rem;
    background-color: white;
    color: #222222;
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    flex-wrap: nowrap;
}

.market-title__second{
    font-size: 1.2rem;
    font-weight: 600;
    color: #222222 ;
}

.market-author-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3px;
    padding: 2rem 1rem;
    background-color: white;
}

.market-author {
    font-size: 12px;
    color: #222222;
    padding-left: 5px;
    font-weight: 700 ;
}

.market-author__by{
    font-weight: 300;
}

.market-price {
    font-size: 1.4rem;
    font-weight: bold;
    color: #222222;
    display: flex;
    justify-content: space-evenly;
    padding-right: 10px;
    padding-bottom: 5px;
}

.market-price__from{
    font-size: 12px;
    font-weight: 500;
    padding-right: 5px;
}

.market-price__usd{
    font-size: 12px;
    font-weight: 500;
    padding-left: 5px;
}

.view-market {
    display: flex;
    justify-content: space-between;
    text-align: right;
    padding: 2rem 1rem;
    text-decoration: none;
    margin: 3px 0;
    background-color: white;
}

.view-market__product{
    font-size: 12px;
    color: #222222;
    padding-left: 5px;
    font-weight: 500 ;
}

@media (max-width: 75rem) {
    .market-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 60rem) {
    .market-grid {
        grid-template-columns: 1fr;
    }
}